<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小爬虫</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <%
                    movies.forEach(function (movie) {%>
                        <li class="list-group-item">
                            <a href="<%=movie.url%>"><%=movie.name%></a>
                        </li>
                <%   })
                %>
            </ul>
        </div>
    </div>
</div>
</body>
</html>